{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>index.html</h1>
    <div class="container mt-4">
        <h2>クイズ追加</h2>
        <form action="/add_quiz" method="POST">
            <label for="theme">お題</label>
            <input name="theme"></input>
            <label for="questions">問題数</label>
            <input name="questions" size="1" maxlength="1"></input>
            <button type="submit" class="btn btn-primary">クイズ追加</button>
        </form>
    </div>
</div>
{% endblock %}